svg { 
  height: 100%;
  width: 100%;
}

#text {
    width: 960px;
    margin: 0 auto;
}

#left_col {
   float:left;
   width:450px;
}
#right_col {
   float:right;
   width:450px;
}

#clear {
 clear:both;
}

#graph_container {
    position: relative;
    width: 960px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
    top: 10px;
    z-index: 10;
    border-radius: 10px;
    border: 2px solid #ccc;
}

#solitons {
    position: absolute;
    width: 740px;
    height: 400px;
    top: 50px;
    left: 110px;
    background: white;
    /*border: 1px dashed;*/
}

#instruct {
    position: absolute;
    width: 800px;
    height: 40px;
    top: 30px;
    left: 80px;
    background: white;
    /*border: 1px dashed;*/
    text-align: center;
    font-size:24px;
}

#ads {
    position: absolute;
    width: 900px;
    height: 40px;
    bottom: 0px;
    left: 30px;
    background: white;
    /*border: 1px dashed;*/
    text-align: center;
    font-size:14px;
}



.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
}

#blab_area {
    /*margin: 0 0;*/
    margin-top: 60px;
    background: #eee;
    margin-bottom: 30px;
}

#blabs {
    width: 920px;
    margin: 0 auto;
    /*margin-top: 80px;*/  /* 15px? */
    padding: 0px 50px 20px 50px;
	text-align: left;
	/*background: #eee;*/
	/*border: 1px solid black;*/
	/*border-radius: 10px;*/
	line-height: 150%;
	font-size: 11pt;
    /*display: none;*/
    padding: 20px;
}

.blab {
    display: inline-block;
    width: 290px;
    text-align: center;
    /*padding: 8px;
    border-bottom: 1px solid #eee;*/
}

.blab img {
	vertical-align: middle;
    /*width: 200px;*/
    max-width: 200px;
    margin-bottom: 10px;
    /*width: 70px;*/
    /*max-height: 70px;*/
}

.blab a {
    margin-top: 20px;
	/*color: rgb(0, 0, 255);*/
	/*cursor: pointer;*/
    font-size: 11pt;
	vertical-align: middle;
}

/*!end*/ (css)

